﻿<script>
    $(document).ready(function () {
        PopulateDropDownList(0, 'Author','Author', 'DropDownListAuthor');
        PopulateDropDownList(0, 'Genre', 'Genre', 'DropDownListGenre');
        document.getElementById('InsertBook').style.display = 'none';
    });

    $(document).ready(function () {

        $('#BtnAuthor').click(function () {
            if ($('#NameAuthor').val() == null || $('#NameAuthor').val() == '') {
                alert('The fields are empty!');
            }
            else {
                $.ajax({
                    type: "post",
                    url: "InsertAuthor?author=" + $('#NameAuthor').val(),
                    success: function (result) {
                        var serverResponse = result.split(",");
                        var responseCode = serverResponse[0];
                        var responseMessage = serverResponse[1];

                        if (responseCode == "200") {
                            PopulateDropDownList(0, 'Author', 'Author', 'DropDownListAuthor');
                            $('#AuthorCollapse').hide();
                        } else {
                            alert(responseMessage);
                        }
                    }

                });
            }
        });

        $('#BtnGenre').click(function () {
            if ($('#GenreTxtBox').val() == null || $('#GenreTxtBox').val() == '') {
                alert('The fields are empty!');
            }
            else {
                $.ajax({
                    type: "post",
                    url: "InsertGenre?genre=" + $('#GenreTxtBox').val(),
                    success: function (result) {
                        var serverResponse = result.split(",");
                        var responseCode = serverResponse[0];
                        var responseMessage = serverResponse[1];

                        if (responseCode == "200") {
                            PopulateDropDownList(0, 'Genre', 'Genre', 'DropDownListGenre');
                            $('#GenreCollapse').hide();
                        } else {
                            alert(responseMessage);
                        }
                    }
                });
            }
        });

        $('#BtnAddBook').click(function () {
            if ($('#Title').val() == null || $('#Title').val() == '') {
                alert('The fields are empty!');
            }
            else {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    url: 'InsertBook',
                    data: JSON.stringify({
                        'Title': $('#Title').val(),
                        'AuthorBook.ID': parseInt($('#Author').val()),
                        'OnlineURL': $('#OnlineURL').val(),
                        'Pages': parseInt($('#Pages').val()),
                        'Category.ID': parseInt($('#Genre').val()),
                        'Edition': $('#Edition').val()
                    }),
                    success: function (result) {
                        var serverResponse = result.split(",");
                        var responseCode = serverResponse[0];
                        var responseMessage = serverResponse[1];

                        if (responseCode == "200") {
                            location.reload();
                        } else {
                            alert(responseMessage);
                        }
                    }
                });
            }
        });
    })


</script>

<div class="collapse" id="InsertBook" style="margin-top:1%;margin-left:10%">
    <div class="container">
        <div class="col-md-10 alert">

            <!--close button-->
            <button type="button" class="close" onclick="document.getElementById('InsertBook').style.display='none';" style="color:yellow;">&times; Close</button>


            <h2  style="margin-left:30%;color:white">Add a new book</h2>
            <div style="position:center">
                <form method="post">
                    <!--textbox for title-->
                    <div class="input-group col-md-offset-3">
                        <label for="Title" class="input-group-addon"><span class=" glyphicon glyphicon-pencil"></span></label>
                        <input class="form-control" type="text" id="Title" placeholder="*Type book's title..." />
                    </div>

                    <br />

                    <!--dropdownlist for author-->
                    <div class="input-group col-md-offset-3">
                        <span class="input-group-addon"><i class=" glyphicon glyphicon-user"></i></span>
                        <select class="form-control" id="Author"></select>
                        &nbsp;
                        <a data-toggle="collapse" class="btn btn-link" href="#AuthorCollapse"><span class=" glyphicon glyphicon-plus"></span></a>
                    </div>

                    <!--add author-->
                    <div id="AuthorCollapse" class="collapse" style="margin-left:10%">
                        <br />
                        <div class="input-group" style="margin-left:20%">
                            <label for="NameAuthor" class="input-group-addon"><span class=" glyphicon glyphicon-user"></span></label>
                            <input class="form-control" type="text" id="NameAuthor" placeholder="Type the author name..." />
                        </div>
                        <br />
                        <div class="input-group" style="margin-left:25%">
                            <input type="button" id="BtnAuthor" value="Add Author" class="btn btn-warning" style="width:600px" />
                        </div>
                    </div>
                    <br />

                    <!--dropdownlist for genre-->
                    <div class="input-group col-md-offset-3">
                        <span class="input-group-addon"><i class=" glyphicon glyphicon-edit"></i></span>
                        <select class="form-control" id="Genre"></select>
                        &nbsp;
                        <a data-toggle="collapse" class="btn btn-link" href="#GenreCollapse"><span class=" glyphicon glyphicon-plus"></span></a>
                    </div>

                    <!--add genre-->
                    <div id="GenreCollapse" class="collapse" style="margin-left:10%">
                        <br />
                        <div class="input-group" style="margin-left:20%">
                            <label for="GenreTxtBox" class="input-group-addon"><span class=" glyphicon glyphicon-user"></span></label>
                            <input class="form-control" type="text" id="GenreTxtBox" placeholder="Type the genre..." />
                        </div>
                        <br />
                        <div class="input-group" style="margin-left:25%">
                            <input type="button" id="BtnGenre" value="Add Genre" class="btn btn-warning" style="width:600px" />
                        </div>
                    </div>

                    <br />
                    <!--textbox for edition-->
                    <div class="input-group col-md-offset-3">
                        <label for="Edition" class="input-group-addon"><span class="glyphicon glyphicon-book"></span></label>
                        <input class="form-control" type="text" id="Edition" placeholder="Type book's edition..." />
                    </div>

                    <br />
                    <!--textbox for pages-->
                    <div class="input-group col-md-offset-3">
                        <label for="Pages" class="input-group-addon"><span class=" glyphicon glyphicon-plus"></span></label>
                        <input class="form-control" type="text" id="Pages" placeholder="Type the number of pages..." />
                    </div>

                    <br />
                    <!--textbox for url-->
                    <div class="input-group col-md-offset-3">
                        <label for="OnlineURL" class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></label>
                        <input class="form-control" type="text" id="OnlineURL" placeholder="Type the url..." />
                    </div>
                    <br />
                </form>
            </div>
            <div class="input-group col-md-offset-4">
                <input type="submit" id="BtnAddBook" value="Add Book" class="btn btn-warning" style="width:200px" />
            </div>

        </div>
    </div>
</div>
