﻿<script>
    $(document).ready(function () {
        PopulateDropDownListBook();
        loadDataTable();
    });

    //update
    function loadDataTable() {
        $('#DTBook').DataTable({
            "processing": true,
            "serverSide": false,
            "filter": true,
            "orderMulti": false,
            "pageLength": 10,
            "ajax":
            {
                "url": "DataTablePopulateBook",
                "type": "POST",
                "datatype": "json",
                "dataSrc": ""
            },
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                    "destroy": true
                }],
            "columns": [
                { "data": "Id", "name": "ID", "autoWidth": true },
                { "data": "BookAbout.Title", "name": "TITLE", "autoWidth": true },
                { "data": "BookAbout.AuthorBook.Name", "name": "AUTHOR", "autoWidth": true },
                { "data": "BookAbout.Edition", "name": "EDITION", "autoWidth": true },
                {
                    data: null, render: function (data, type, row) {
                        return "<a href='#' class='btn btn-info' onclick=EditRow(" + row.Id + ");> Edit </a>";
                    }
                },
                {
                    data: null, render: function (data, type, row) {
                        return "<a href='#' class='btn btn-info' onclick=AboutRow(" + row.Id + ")> About </a>";
                    }
                },
            ]

        });
    }

    //update
    function AddBook() {
        if ($('#BookDDL').val() == 0) {
            alert('Choose a book!');
            return 0;
        }
        $.ajax({
            type: "post",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(
                {
                    'Id': parseInt($('#BookDDL').val()),
                    'Comments': $('#CommentsTxt').val(),
                    'StartRead': $('#StartRead').val()
                }),
            url: "InsertToRead",
            success: function (result) {
                var serverResponse = result.split(",");
                var responseCode = serverResponse[0];
                var responseMessage = serverResponse[1];

                if (responseCode == "200") {
                   // $('#DTBook').DataTable.distroy;
                   // loadDataTable();
                    // $('#AddBookModel').modal('hide');
                    window.location.reload();
                } else if (responseCode == "300") {
                    window.location.href = "Home";
                } else {
                    alert(responseMessage);
                }
            }
        });
    }

    function UpdateBook() {
        if ($('#TitleEdit').val() == '') {
            alert('The field Title is empty!');
        }
        else {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                url: '/Home/UpdateBookToRead',
                data: JSON.stringify({
                    'Title': $('#TitleEdit').val(),
                    'AuthorName': $('#AuthorEdit').val(),
                    'OnlineURL': $('#OnlineURLEdit').val(),
                    'Pages': parseInt($('#PagesEdit').val()),
                    'Category': $('#CategoryEdit').val(),
                    'Edition': $('#EditionEdit').val(),
                    'Comments': $('#CommentsEdit').val(),
                    'id': $('#IdEdit').val()
                }),
                success: function (result) {
                    var serverResponse = result.split(",");
                    var responseCode = serverResponse[0];
                    var responseMessage = serverResponse[1];

                    if (responseCode == "200") {
                        location.reload();
                    } else {
                        alert(responseMessage);
                    }
                }
            });
        }
    }

    //update
    function EditRow(Id) {
        $('#EditModal').modal("show");
        $.ajax({
            type: "GET",
            url: "GetBookById?id=" + Id,
            success: function (result) {
                if (result == '300')
                    window.location.href = "Home";
                else
                    if (result) {
                        var yourDateValue = new Date(result.FinishRead);
                        var formattedDate = yourDateValue.toUTCString().toString();
                        $('#IdEdit').val(result.Id.toString());
                        $('#TitleEdit').val(result.BookAbout.Title);
                        $('#OnlineURLEdit').val(result.BookAbout.OnlineURL);
                        $('#PagesEdit').val(parseInt(result.BookAbout.Pages));
                        $('#CategoryEdit').val(result.Category);
                        $('#EditionEdit').val(result.BookAbout.Edition);
                        $('#StartReadEdit').val(result.StartRead);
                        $('#FinishReadEdit').val(formattedDate);
                        $('#CommentsEdit').val(result.Comments);
                        PopulateDropDownList(result.BookAbout.AuthorName.ID, result.BookAbout.AuthorName.Name,'AuthorEdit','DropDownListAuthor');
                        PopulateDropDownList(result.BookAbout.Category.ID, result.BookAbout.Category.Name, 'CategoryEdit','DropDownListGenre');
                }
            }

        });
    }
    function AboutRow(Id) {
        $('#AboutModal').modal("show");

        $.ajax({
            type: "GET",
            url: "" ,
            success: function (result) {
                
            }

        });
    }
</script>

<div class=" col-lg-offset-0" id="ToReadModel">
    <div class="container">
        <div class="col-md-12 alert">
            <!--close button-->
            <button type="button" class="close" onclick="document.getElementById('ToReadModel').style.display='none';" style="color:yellow;">&times; Close</button>

            <!--book-->
            <a class="btn btn-warning" style="margin-left:-80%;margin-top:5%" href="#" onclick="$('#AddBookModel').modal('show');"><span class=" glyphicon glyphicon-plus"> AddBook</span></a>

            <div class="modal fade " id="AddBookModel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a href="#" class="close" data-dismiss="modal" onclick=" $('#AddBookModel').modal('hide');">&times;</a>
                        <h2 class="text-center">Add a book</h2> 
                        </div>
                        <div class="modal-body">
                            <form method="post">
                                <br />
                                <!--dropdownlist for book-->
                                <div class="input-group" style="margin-left:20%">
                                    <span class="input-group-addon"><i class=" glyphicon glyphicon-book"></i></span>
                                    <select class="form-control" id="BookDDL"></select>
                                </div>
                                <br />
                                <!--start read-->
                                <div class="input-group" style="margin-left:20%">
                                    <label for="StartRead" class="input-group-addon"><span class=" glyphicon glyphicon-pencil"></span></label>
                                    <input type="date" class="form-control" id="StartRead" />
                                </div>
                                <br />
                                <!--dropdownlist for Comments-->
                                <div class="input-group" style="margin-left:20%">
                                    <label for="CommentsTxt" class="input-group-addon"><span class=" glyphicon glyphicon-pencil"></span></label>
                                    <textarea class="form-control" rows="5" cols="20" id="CommentsTxt" placeholder="Type comments..."></textarea>
                                </div>
                                <br />

                            </form>
                            <!--button-->
                            <div class="input-group" style="margin-left:25%">
                                <input type="button" id="BtnAddBookToRead" value="AddBook" onclick="AddBook()" class="btn btn-warning" style="width:600px" />
                            </div>
                            <br /><br />
                        </div>
                    </div>
                </div>
            </div>

            <div class="container col-lg-offset-1 col-lg-9" style="margin-top:12%; background-color:white">
                <table class="table" id="DTBook">
                    <thead>
                        <tr>
                            <th style="color:white" hidden>ID</th>
                            <th style="color:white">TITLE</th>
                            <th style="color:white">AUTHOR</th>
                            <th style="color:white">EDITION</th>
                            <th id="BtnDTBook" style="color:white">ACTIONS</th>
                            <th id="BtnAbout" style="color:white">DETALIS</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal" onclick=" $('#EditModal').modal('hide');">&times;</a>
                <h4>Edit</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <!--id-->
                    <input class="form-control" type="text" id="IdEdit" hidden="hidden" readonly/>
                    <!--Title-->
                    <div class="input-group" style="margin-left:20%">
                        <label for="TitleEdit" class="input-group-addon"><span class=" glyphicon glyphicon-pencil">Title</span></label>
                        <input class="form-control" type="text" id="TitleEdit" placeholder="*Type book's title..." />
                    </div>
                    <br />
                    <!--Author-->
                    <div class="input-group" style="margin-left:20%">
                        <span class="input-group-addon"><i class=" glyphicon glyphicon-user">Author</i></span>
                        <select class="form-control" id="AuthorEdit"></select>
                    </div>
                    <br />
                    <!--Edition-->
                    <div class="input-group" style="margin-left:20%">
                        <label for="EditionEdit" class="input-group-addon"><span class="glyphicon glyphicon-book">Edition</span></label>
                        <input class="form-control" type="text" id="EditionEdit" placeholder="Type book's edition..." />
                    </div>
                    <br />
                    <!--Genre-->
                    <div class="input-group" style="margin-left:20%">
                        <span class="input-group-addon"><i class=" glyphicon glyphicon-user">Genre</i></span>
                        <select class="form-control" id="CategoryEdit"></select>
                    </div>
                    <br />
                    <!--Pages-->
                    <div class="input-group" style="margin-left:20%">
                        <label for="PagesEdit" class="input-group-addon"><span class=" glyphicon glyphicon-plus">Pages</span></label>
                        <input class="form-control" type="text" id="PagesEdit" placeholder="Type the number of pages..." />
                    </div>
                    <br />
                    <!--URL-->
                    <div class="input-group" style="margin-left:20%">
                        <label for="OnlineURLEdit" class="input-group-addon"><span class="glyphicon glyphicon-globe">URL</span></label>
                        <input class="form-control" type="text" id="OnlineURLEdit" placeholder="Type the url..." />
                    </div>
                    <br />
                    <!--Comments-->
                    <div class="input-group" style="margin-left:20%">
                        <label for="CommentsEdit" class="input-group-addon"><span class="glyphicon glyphicon-comment">Comments</span></label>
                        <textarea class="form-control" rows="5" cols="15" id="CommentsEdit" placeholder="Type comments..."></textarea>
                    </div>
                    <br />
                    <!--startRead-->
                    <div class="input-group" style="margin-left:20%">
                        <label for="StartReadEdit" class="input-group-addon"><span class="glyphicon glyphicon-time">ReadTo</span></label>
                        <input class="form-control" type="text" id="StartReadEdit" readonly/>
                    </div>
                    <br />
                    <!--finishRead-->
                    <div class="input-group" style="margin-left:20%">
                        <label for="FinishReadEdit" class="input-group-addon"><span class="glyphicon glyphicon-time">FinishTo</span></label>
                        <input class="form-control" type="text" id="FinishReadEdit" readonly/>
                    </div>
                    <br />
                </form>
                <div class="input-group" style="margin-left:25%">
                    <input type="submit" id="BtnEditBook" value="Update" onclick="UpdateBook()" class="btn btn-info" style="width:600px" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AboutModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <a href="#" class="close" data-dismiss="modal" onclick=" $('#AboutModal').modal('hide');"><span class="glyphicon glyphicon-log-out">Exit</span></a>
                    <div class="input-group" style="margin-left:20%">
                        <input class="form-control" type="text" id="IdAbout" hidden="hidden" />
                    </div>
                    <br />
                    <div class="input-group" style="margin-left:20%">
                        <label for="TitleAbout" class="input-group-addon"><span class=" glyphicon glyphicon-pencil"></span></label>
                        <input class="form-control" type="text" id="TitleAbout" readonly/>
                    </div>
                    <br />
                    <div class="input-group" style="margin-left:20%">
                        <label for="AuthorAbout" class="input-group-addon"><span class=" glyphicon glyphicon-pencil"></span></label>
                        <input class="form-control" type="text" id="AuthorAbout" readonly />
                    </div>
                    <br />
                    <div class="input-group" style="margin-left:20%">
                        <label for="EditionAbout" class="input-group-addon"><span class="glyphicon glyphicon-book"></span></label>
                        <input class="form-control" type="text" id="EditionAbout" readonly/>
                    </div>
                    <br />
                    <div class="input-group" style="margin-left:20%">
                        <label for="CategoryAbout" class="input-group-addon"><span class="glyphicon glyphicon-book"></span></label>
                        <input class="form-control" type="text" id="CategoryAbout" readonly/>
                    </div>
                    <br />
                    <div class="input-group" style="margin-left:20%">
                        <label for="PagesAbout" class="input-group-addon"><span class=" glyphicon glyphicon-plus"></span></label>
                        <input class="form-control" type="text" id="PagesAbout" readonly/>
                    </div>
                    <br />
                    <div class="input-group" style="margin-left:20%">
                        <label for="OnlineURLAbout" class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></label>
                        <input class="form-control" type="text" id="OnlineURLEAbout" readonly/>
                    </div>
                    <br />
                    <div class="input-group" style="margin-left:20%">
                        <label for="CommentsAbout" class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></label>
                        <textarea class="form-control" rows="5" cols="20" id="CommentsAbout" readonly></textarea>
                    </div>
                    <br />
            </div>
        </div>
    </div>
</div>
@*<div class="modal fade" id="EditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal" onclick=" $('#EditModal').modal('hide');">&times;</a>
                <h4>Edit</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <!--Title-->
                    <div class="input-group" style="margin-left:20%">
                        <label for="TitleEdit" class="input-group-addon"><span class=" glyphicon glyphicon-pencil"></span></label>
                        <input class="form-control" type="text" id="TitleEdit" placeholder="*Type book's title..." />
                    </div>
                    <br />
                    <!--Author-->
                    <div class="input-group" style="margin-left:20%">
                        <span class="input-group-addon"><i class=" glyphicon glyphicon-user"></i></span>
                        <select class="form-control" id="AuthorEdit"></select>
                    </div>
                    <br />
                    <!--Edition-->
                    <div class="input-group" style="margin-left:20%">
                        <label for="EditionEdit" class="input-group-addon"><span class="glyphicon glyphicon-book"></span></label>
                        <input class="form-control" type="text" id="EditionEdit" placeholder="Type book's edition..." />
                    </div>
                    <br />
                    <!--Genre-->
                    <div class="input-group" style="margin-left:20%">
                        <span class="input-group-addon"><i class=" glyphicon glyphicon-user"></i></span>
                        <select class="form-control" id="CategoryEdit"></select>
                    </div>
                    <br />
                    <!--Pages-->
                    <div class="input-group" style="margin-left:20%">
                        <label for="PagesEdit" class="input-group-addon"><span class=" glyphicon glyphicon-plus"></span></label>
                        <input class="form-control" type="text" id="PagesEdit" placeholder="Type the number of pages..." />
                    </div>
                    <br />
                    <!--URL-->
                    <div class="input-group" style="margin-left:20%">
                        <label for="OnlineURLEdit" class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></label>
                        <input class="form-control" type="text" id="OnlineURLEdit" placeholder="Type the url..." />
                    </div>
                    <br />
                    <!--Comments-->
                    <div class="input-group" style="margin-left:20%">
                        <label for="CommentsEdit" class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></label>
                        <textarea class="form-control" rows="10" cols="20" id="CommentsEdit" placeholder="Type comments..."></textarea>
                    </div>
                    <br />
                    <!--dataAdd-->
                    <div class="input-group" style="margin-left:20%">
                        <label for="DataAddEdit" class="input-group-addon"><span class="glyphicon glyphicon-time"></span></label>
                        <input class="form-control" type="date" id="DataAddEdit" />
                    </div>
                    <br />
                    <!--startRead-->
                    <div class="input-group" style="margin-left:20%">
                        <label for="StartReadEdit" class="input-group-addon"><span class="glyphicon glyphicon-time"></span></label>
                        <input class="form-control" type="date" id="StartReadEdit" />
                    </div>
                    <br />
                    <!--finishRead-->
                    <div class="input-group" style="margin-left:20%">
                        <label for="FinishReadEdit" class="input-group-addon"><span class="glyphicon glyphicon-time"></span></label>
                        <input class="form-control" type="date" id="FinishReadEdit" />
                    </div>
                    <br />
                </form>
                <div class="input-group" style="margin-left:25%">
                    <input type="submit" id="BtnEditBook" value="Update" onclick="UpdateBook()" class="btn btn-info" style="width:600px" />
                </div>
            </div>
        </div>
    </div>
</div>*@